*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0rem;
}

body{
    width: 1176px;
    margin: auto;
}


/* regole base immagini di sfondo */

.img{
    background-color: rgb(210, 210, 210);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    border-radius: 9px;
}


/* testata */

.logo{
    width: 165px;
}

nav{
    color: gray;
    padding: 2rem 0;
}

ul.menù li{
    display: inline;
    margin-right: 0.75rem;
}

/* /testata */


/* main */

/* section special img */
   
main > section{
    width: 100%;
}

.special{
    margin: 1rem 0;
    height: 500px;
    background-image: url(./img/banner.jpg);
    position: relative;
}


.manifesto{
    color: white;
    width: 580px;
    position: absolute;
    left: 52px;
    bottom: 70px;
}

.articolo{
    font-size: 1.85rem;
}

/* section clearfix */

.top{
    padding: 1.8rem 0 1.2rem;
}
 
.title{
    font-size: 40px;
    font-weight: bolder;
}

.subtitle{
    color: gray;
}

.clearfix{
    content: "";
    display: table;
    clear: both;

}

.ext{
    width: 20%;
    padding: 1.5rem 0;
    
}

.center{
    width: 60%;
    padding: 1.5rem;
}

aside{
    float: left;
}

h4{
    margin: 1rem 0 0.75rem;
    font-weight: 400;
}

aside > .img{
    height: 204px;
}

.img.left{
    background-image: url(./img/img-1.jpg);
}

.img.cnt{
    background-image: url(./img/banner-2.jpg);
}

.img.right{
    background-image: url(./img/img-3.jpg);
}

aside p{
    color: gray;
}

/* /main */


/* footer */

footer{
    margin: 0.5rem auto;
    text-align: center;
}

.heart{
    color: red;
    font-size: 1.2rem;
}

/* /footer */